[submodule "3rdparty/mio"]
	path = 3rdparty/mio
	url = https://github.com/vimpunk/mio.git
[submodule "3rdparty/MPMCQueue"]
	path = 3rdparty/MPMCQueue
	url = https://github.com/rigtorp/MPMCQueue.git
[submodule "3rdparty/libsamplerate"]
	path = 3rdparty/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/gcem"]
	path = 3rdparty/gcem
	url = https://github.com/kthohr/gcem.git
